<!DOCTYPE>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<title>Detect Parkinson's using CNN</title>
		<style>
			body{
					padding-top:70px;
				}
			.jumbotron
				{
					color:#2c3e50;
					background:#ecf8f1;
				}
			.navbar-inverse
				{
					background:#2c3e58;
				}
			.navbar-inverse .navbar-brand
				{
					color:white;
				}
			.navbar-inverse .navbar-nav>li>a
				{
					color:white;
				}
			.about
				{
					color:black;
					font-style: italic;
				}
		</style>
	</head>

	<body>
	    <nav class="navbar navbar-inverse navbar-fixed-top">
	    	<div class="container">
				<div class="navbar-header">
					<a href="#" class="navbar-brand">About Project</a>
				</div>
				<div class="collapse navbar-collapse" id="ba-nav-demo">
					<ul class="nav navbar-nav">
						<li> <a href="/dataset"> Sample Dataset Images </a></li>
					</ul>
					<ul class=" nav navbar-nav navbar-right">				
						<li><a href="/login">Login</a></li>
						<li><a href="/register">Sign Up</a></li>
					</ul>
				</div>
			</div>
		</nav>

		<div class="about">
			<div class="container">
				<br>
				<div class="jumbotron">
					<h1>Detection of Parkinson's disease using CNN </h1>
				</div>

				<p>
					<b> What is Parkinson's Disease ?</b> <br> <br>
					Parkinson's disease occurs when nerve cells, or neurons, in an area of the brain that controls movement become impaired and/or die. Normally, these neurons produce an important brain chemical known as dopamine. When the neurons die or become impaired, they produce less dopamine, which causes the movement problems of Parkinson's. Scientists still do not know what causes cells that produce dopamine to die.
					People with Parkinson's also lose the nerve endings that produce norepinephrine, the main chemical messenger of the sympathetic nervous system, which controls many automatic functions of the body, such as heart rate and blood pressure. The loss of norepinephrine might help explain some of the non-movement features of Parkinson's, such as fatigue, irregular blood pressure, decreased movement of food through the digestive tract, and sudden drop in blood pressure when a person stands up from a sitting or lying-down position.
					Many brain cells of people with Parkinson's contain Lewy bodies, unusual clumps of the protein alpha-synuclein. Scientists are trying to better understand the normal and abnormal functions of alpha-synuclein and its relationship to genetic mutations that impact Parkinson’s disease and Lewy body dementia.
					Although some cases of Parkinson's appear to be hereditary, and a few can be traced to specific genetic mutations, in most cases the disease occurs randomly and does not seem to run in families. Many researchers now believe that Parkinson's disease results from a combination of genetic factors and environmental factors such as exposure to toxins.
					<br> <br>
					<b>Symptoms of Parkinson’s Disease </b> <br> <br>
					Parkinson's disease has four main symptoms: <br>
					Tremor (trembling) in hands, arms, legs, jaw, or head <br>
					Stiffness of the limbs and trunk <br>
					Slowness of movement <br>
					Impaired balance and coordination, sometimes leading to falls <br>
					Other symptoms may include depression and other emotional changes; difficulty swallowing, chewing, and speaking; urinary problems or constipation; skin problems; and sleep disruptions. <br>
					<br> 
					Symptoms of Parkinson’s and the rate of progression differ among individuals. Sometimes people dismiss early symptoms of Parkinson's as the effects of normal aging. In most cases, there are no medical tests to definitively detect the disease, so it can be difficult to diagnose accurately.
					Early symptoms of Parkinson's disease are subtle and occur gradually. For example, affected people may feel mild tremors or have difficulty getting out of a chair. They may notice that they speak too softly, or that their handwriting is slow and looks cramped or small. Friends or family members may be the first to notice changes in someone with early Parkinson's. They may see that the person's face lacks expression and animation, or that the person does not move an arm or leg normally.
					People with Parkinson's often develop a parkinsonian gait that includes a tendency to lean forward, small quick steps as if hurrying forward, and reduced swinging of the arms. They also may have trouble initiating or continuing movement.
					Symptoms often begin on one side of the body or even in one limb on one side of the body. As the disease progresses, it eventually affects both sides. However, the symptoms may still be more severe on one side than on the other.
					Many people with Parkinson’s note that prior to experiencing stiffness and tremor, they had sleep problems, constipation, decreased ability to smell, and restless legs.
					<br> <br>
					<b>Diagnosis of Parkinson’s Disease </b> <br> <br>
					A number of disorders can cause symptoms similar to those of Parkinson's disease. People with Parkinson's-like symptoms that result from other causes are sometimes said to have parkinsonism. While these disorders initially may be misdiagnosed as Parkinson's, certain medical tests, as well as response to drug treatment, may help to distinguish them from Parkinson's. Since many other diseases have similar features but require different treatments, it is important to make an exact diagnosis as soon as possible.
					There are currently no blood or laboratory tests to diagnose nongenetic cases of Parkinson's disease. Diagnosis is based on a person's medical history and a neurological examination. Improvement after initiating medication is another important hallmark of Parkinson's disease.
					<br><br>
				</p>
			</div>
		</div>

		<script src="https://code.jquery.com/jquery-2.1.4.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/3.3.5/js/bootstrap.min.js"></script>	
	</body>
</html>
    	